.page_wrap{
    overflow: auto;
}

.page{
    text-align: center;
    padding-top: 55px;
    justify-content: center;
}

.page canvas{
    margin-right: auto;
    margin-left: auto;
    display: block;
}