.page_wrap{
    overflow: auto;
    min-height: calc(100vh - 45px);
}

.page{
    text-align: center;
    padding-top: 55px;
    justify-content: center;
}

.page canvas{
    margin-right: auto;
    margin-left: auto;
    display: block;
}